<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>title</title>
    </head>
    <body>
        <form action="/">
            <ul>
                <li>OrderUID: {{.OrderUID}}</li>
                <li>TrackNumber: {{.TrackNumber}}</li>
                <li>Entry: {{.Entry}}</li>
                <li>Delivery: {{.Delivery}}</li>
                <li>Payment: {{.Payment}}</li>
                <li>Items}: {{.Items}}</li>
                <li>Locale: {{.Locale}}</li>
                <li>InternalSignature: {{.InternalSignature}}</li>
                <li>CustomerID: {{.CustomerID}}</li>
                <li>DeliveryService: {{.DeliveryService}}</li>
                <li>ShardKey: {{.ShardKey}}</li>
                <li>SmID: {{.SmID}}</li>
                <li>DateCreated: {{.DateCreated}}</li>
                <li>OofShard: {{.OofShard}}</li>
            </ul>
            <button id="1">Вернуться на главную</button>
        </form>
    </body>
</html>
